@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-primary-hover: #172D6B;
  --color-text-main: #0f172a;
  --color-text-muted: #475569;
  --color-text-light: #64748B;
  --color-bg-main: #F8FAFC;
}

@layer base {
  body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    color: var(--color-text-main);
    background-color: var(--color-bg-main);
  }
}